body {
    margin: 0;
    padding: 0;
    background-image: url('../src/assests/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    /* filter: blur(5px); */
}